#chat
{
    overflow-y: scroll;
    height: calc(100% - 50px);
}

#toolbar
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #ccc;
}

body, html
{
    margin: 0;
    padding: 0;
    height: 100%;
}
